.HolyGrail {
  display: flex;
  min-height: 100%;
  flex-direction: column; }

.HolyGrail-body {
  display: flex;
  flex-direction: column;
  padding: 1.5em; }

.HolyGrail-content {
  margin: 1.5em 0; }

.HolyGrail-nav {
  order: -1; }

.HolyGrail-nav, .HolyGrail-ads {
  padding: 1em;
  border-radius: 3px;
  background: rgba(147, 128, 108, 0.1); }

@media (min-width: 48em) {
  .HolyGrail-body {
    flex: 1 1 auto;
    flex-direction: row; }

  .HolyGrail-content {
    flex: 1;
    padding: 0 1.5em;
    margin: 0; }

  .HolyGrail-nav, .HolyGrail-ads {
    flex: 0 0 12em; } }
label {
  display: block; }

p {
  display: block; }

.input {
  width: 100%;
  height: 120px;
  padding: 15px;
  background-color: white;
  color: black;
  border: solid 2px grey;
  font-size: 16px;
  border-radius: 5px; }

.output {
  width: 100%;
  height: 120px;
  padding: 15px;
  font-size: 16px;
  color: white;
  border: solid 2px #006400;
  background-color: #008000;
  border-radius: 5px; }

@media screen and (max-width: 640px) {
  .output {
    height: 200px; }

  .input {
    height: 200px; } }
#convert-button {
  width: 110px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  line-height: 43px;
  vertical-align: middle;
  margin: 0 auto;
  border: none;
  outline: none !important;
  background: url(img/button.png) no-repeat 0 0; }
  #convert-button ::-moz-focus-inner {
    border: 0 !important; }
  #convert-button:active {
    background: url(img/button.png) no-repeat 1px 1px; }

#decode-button {
  width: 110px;
  height: 50px;
  display: inline-block;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  line-height: 43px;
  vertical-align: middle;
  margin: 0 auto;
  border: none;
  outline: none !important;
  background: url(img/button.png) no-repeat 0 0; }
  #decode-button ::-moz-focus-inner {
    border: 0 !important; }
  #decode-button:active {
    background: url(img/button.png) no-repeat 1px 1px; }

ul.examples li {
  padding: 0 0 10px 0;
  border: 0px solid gray !important;
  box-shadow: 1px;
  display: block;
  font-size: 0.9rem; }
  ul.examples li :hover {
    cursor: pointer;
    display: inline-block;
    background-color: white; }

.runButton {
  width: 110px;
  height: 50px;
  display: block;
  overflow: hidden;
  color: #fff;
  text-decoration: none;
  line-height: 43px;
  vertical-align: middle;
  text-align: center;
  margin: 0 auto;
  border: none;
  outline: none !important;
  background: url(img/button.png) no-repeat 0 0; }

#copy-button ::-moz-focus-inner {
  border: 0 !important; }

#copy-button:active {
  background: url(img/button.png) no-repeat 1px 1px; }

#copy-button:hover {
  color: #ff0; }

a ::-moz-focus-inner {
  border: 0 !important; }

.dark {
  border: solid 2px grey;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #512da8), to(#7e57c2));
  background: -webkit-linear-gradient(top, #512da8 0, #7e57c2 100%);
  background: linear-gradient(to bottom, #512da8 0, #7e57c2 100%); }

.light {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #007700), to(#00aa00));
  background: -webkit-linear-gradient(top, #007700 0, #00aa00 100%);
  background: linear-gradient(to bottom, #007700 0, #00aa00 100%);
  border: 2px solid lightgreen !important; }

.purple {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #a527aa), to(#a527ff));
  background: -webkit-linear-gradient(top, #a527aa 0, #a527ff 100%);
  background: linear-gradient(to bottom, #a527aa 0, #a527ff 100%); }

.ui-autocomplete {
  position: absolute;
  cursor: default; }

/* workarounds */
* html .ui-autocomplete {
  width: 1px; }

/* without this, the menu expands to 100% in IE6 */
/* Component containers
----------------------------------*/
.ui-widget {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1.1em; }

.ui-widget .ui-widget {
  font-size: 1em; }

.ui-widget input, .ui-widget select, .ui-widget textarea, .ui-widget button {
  font-family: Verdana,Arial,sans-serif;
  font-size: 1em; }

.ui-widget-content {
  border: 1px solid #a6c9e2;
  background: #fcfdfd url(img/ui-bg_inset-hard_100_fcfdfd_1x100.png) 50% bottom repeat-x;
  color: #222222; }

.ui-widget-content a {
  color: #222222; }

.ui-widget-header {
  border: 1px solid #4297d7;
  background: #2191c0 url(img/ui-bg_gloss-wave_75_2191c0_500x100.png) 50% 50% repeat-x;
  color: #eaf5f7;
  font-weight: bold; }

.ui-widget-header a {
  color: #eaf5f7; }

/* Interaction states
----------------------------------*/
.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
  border: 1px solid #77d5f7;
  background: #0078ae url(img/ui-bg_glass_45_0078ae_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #ffffff; }

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
  color: #ffffff;
  text-decoration: none; }

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
  border: 1px solid #448dae;
  background: #79c9ec url(img/ui-bg_glass_75_79c9ec_1x400.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #026890; }

.ui-state-hover a, .ui-state-hover a:hover {
  color: #026890;
  text-decoration: none; }

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active {
  border: 1px solid #acdd4a;
  background: #6eac2c url(img/ui-bg_gloss-wave_50_6eac2c_500x100.png) 50% 50% repeat-x;
  font-weight: normal;
  color: #ffffff; }

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
  color: #ffffff;
  text-decoration: none; }

.ui-widget :active {
  outline: none; }

/* Interaction Cues
----------------------------------*/
.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {
  border: 1px solid #fcd113;
  background: #f8da4e url(img/ui-bg_glass_55_f8da4e_1x400.png) 50% 50% repeat-x;
  color: #915608; }

.ui-state-highlight a, .ui-widget-content .ui-state-highlight a, .ui-widget-header .ui-state-highlight a {
  color: #915608; }

.ui-state-error, .ui-widget-content .ui-state-error, .ui-widget-header .ui-state-error {
  border: 1px solid #cd0a0a;
  background: #e14f1c url(img/ui-bg_gloss-wave_45_e14f1c_500x100.png) 50% top repeat-x;
  color: #ffffff; }

.ui-state-error a, .ui-widget-content .ui-state-error a, .ui-widget-header .ui-state-error a {
  color: #ffffff; }

.ui-state-error-text, .ui-widget-content .ui-state-error-text, .ui-widget-header .ui-state-error-text {
  color: #ffffff; }

.ui-priority-primary, .ui-widget-content .ui-priority-primary, .ui-widget-header .ui-priority-primary {
  font-weight: bold; }

.ui-priority-secondary, .ui-widget-content .ui-priority-secondary, .ui-widget-header .ui-priority-secondary {
  opacity: .7;
  filter: Alpha(Opacity=70);
  font-weight: normal; }

.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled {
  opacity: .35;
  filter: Alpha(Opacity=35);
  background-image: none; }

/*
 * jQuery UI Menu 1.8.9
 *
 * Copyright 2010, AUTHORS.txt (http://jqueryui.com/about)
 * Dual licensed under the MIT or GPL Version 2 licenses.
 * http://jquery.org/license
 *
 * http://docs.jquery.com/UI/Menu#theming
 */
.ui-menu {
  list-style: none;
  padding: 2px;
  margin: 0;
  display: block;
  float: left;
  background: white;
  border: 1px gray; }

.ui-menu .ui-menu {
  margin-top: -3px; }

.ui-menu .ui-menu-item {
  margin: 0;
  padding: 0;
  zoom: 1;
  float: left;
  clear: left;
  width: 100%; }

.ui-menu .ui-menu-item a {
  text-decoration: none;
  display: block;
  padding: .2em .4em;
  line-height: 1.5;
  zoom: 1; }

.ui-menu .ui-menu-item a.ui-state-hover,
.ui-menu .ui-menu-item a.ui-state-active {
  font-weight: normal;
  margin: -1px; }

/*# sourceMappingURL=style.css.map */
